body {
    background-color: #fff;
}
#topBar {
    background: url("/static/img/logo.jpg") #0e1e09 no-repeat center;
    color: #fff;
    height: 140px;
}

#topName {
    font-weight: bolder;
    font-size: 2.3em;
}
#topSubName {
    font-size: 1em;
}
#mainNavbar .nav-item {
    font-size: 1.1em;
}
#mainNavbar.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.8);
    font-weight: bold;
}
#mainNavbar.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(27,141,58,.9);
}
#mainNavbar.navbar-light .navbar-nav .active>.nav-link {
    color: rgba(27,141,58,.9);
    border-bottom: 5px solid rgb(27,141,58);
}
.entryDate {
    color: #969696;
}