body {
    background-color: #fff;
}
#topBar, #toMain {
    color: #fff;
    text-decoration: none;
}
#topBar {
    background: url("/static/img/logo.jpg") #0e1e09 no-repeat center;
    height: 140px;
}

.authButton {
    color: #fff;
    border-color: #fff;
}
.authButton:hover {
    color: #fff;
    border-color: #fff;
}

#topName {
    font-weight: bolder;
    font-size: 1.8em;
}
#topSubName {
    font-size: 1em;
}
@media (min-width: 600px) {
    #topName {
        font-weight: bolder;
        font-size: 2.3em;
    }
    #topSubName {
        font-size: 1em;
    }
}
@media (min-width: 992px) {
    #mainNavbar {
        padding-bottom: 0;
    }
}
#mainNavbar .nav-item {
    font-size: 1.1em;
}
#mainNavbar.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.8);
    font-weight: bold;
}
#mainNavbar.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(120, 58, 164);
}
#mainNavbar.navbar-light .navbar-nav .active>.nav-link {
    color: rgb(120 58 164);
    border-bottom: 5px solid rgb(120, 58, 164);
}
.authButton.btn-primary {
    background-color: rgb(120, 58, 164);
}
.authButton.btn-outline-secondary {
    background-color: rgba(0, 0, 0, 0.5);
}
.entryDate {
    color: #969696;
}
.green {
    color: rgba(27,141,58,.9);
}
.gray {
    color: #aaaaaa;
}
.dark-gray {
    color: #888888;
}
.red {
    color: #ff1e1e;
}
a {
    color: rgb(120, 58, 164);
}
a:hover {
    color: rgb(120, 58, 164);
}
#leftMenu .menuItem {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.7em 1em;
}
#leftMenu .menuItem.active {
    background-color: #f8f9fa;
    color: rgb(120, 58, 164);
}
#leftMenu .menuItem a {
    color: #666;
}
#leftMenu .menuItem.active a {
    color: rgb(120, 58, 164);
}
#leftMenu .menuItem a:hover {
    text-decoration: none;
}
.bg-black {
    background-color: #000;
}
footer.footer {
    height: 140px;
}
#mainDropDown {
    background-color: #ccc;
    border-color: #ccc;
    color: #333;
    font-weight: bold;
}
/*#mainDropDown svg{*/
/*    -webkit-filter: invert(100%);*/
/*    filter: invert(100%);*/
/*}*/