<div class="mb-5">
  <h3 class="font-weight-bolder mb-2">{{ entry.title }}</h3>
  <span class="text-left mb-4 mr-4 entryDate text-lowercase">{{ entry.published_at | date:"d F Y, D" }}</span>
  {% include 'social/comments_bar.html' %}
  {% if not entry.members_only or user.is_authenticated %}
    <p>{{ entry.short_text | safe }}</p>
    {% if entry.has_details %}<p><a href="{% url 'news_detail' pk=entry.pk %}">Подробнее...</a></p>{% endif %}
  {% else %}
    {% if entry.not_members_placeholder %}
      <p>{{ entry.not_members_placeholder | safe }}</p>
    {% else %}
      <p>Новость доступна только авторизованным на сайте членам СНТ.</p>
    {% endif %}
  {% endif %}
</div>
