{% if user.is_authenticated %}
<form method="POST" action="{% url 'news_detail' pk=entry.pk %}" class="form-group commentForm">
    {% csrf_token %}
    <div>
        <textarea
                id="commentMessage"
                class="form-control"
                name="message"
                placeholder="Напишите свой комментарий здесь"
        ></textarea>
    </div>
    <div class="mt-3 text-right">
        <button type="submit" name="submit" value="comment" class="btn btn-primary commentPostButton">Отправить</button>
    </div>
</form>
{% endif %}