{% if user.is_authenticated %}
<div class="commentsContainer mb-5">
<a id="comments"></a>
<h5 class="commentsCaption">Обсуждение</h5>
<ul class="list-group list-group-flush">
{% for comment in comments %}
  <li class="list-group-item commentItem">
    <div class="message">{{ comment.message }}</div>
    <div><span class="author">Участок {{ comment.author.username }}</span>&nbsp;<span class="when">{{ comment.published_at | date:"d F Y, H:i" }}</span></div>
  </li>
{% endfor %}
</ul>
</div>
{% endif %}
