{% if user.is_authenticated %}
<a id="comments"></a>
<div class="commentsContainer mb-5">
<h5 class="commentsCaption">Обсуждение</h5>
<ul class="list-group list-group-flush">
{% if not comments %}<a id="commentsLatest"></a>{% endif %}
{% for comment in comments %}
  <li class="list-group-item commentItem">
    {% if forloop.last %}<a id="commentsLatest"></a>{% endif %}
    <div class="message">{{ comment.message_html }}</div>
    <div><span class="author">{{ comment.author_name }}</span>&nbsp;<span class="when">{{ comment.published_at | date:"d F Y, H:i" }}</span></div>
  </li>
{% endfor %}
</ul>
</div>
{% endif %}
