{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Строитель СНТ, Воскресенское, Новая Москва</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />

  <link rel="stylesheet" href="{% static 'css/main.css' %}?v3" />

  <!-- Google Fonts Roboto -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
    />


  {% if not user.is_superuser %}
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
     m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     var userParams = {};
     {% if user.is_authenticated %}
     userParams["UserID"] = "{{ user.username }}";
     userParams["ClientID"] = "{{ user.username }}";
     {% endif %}

     ym(71851036, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true,
          userParams: userParams
     });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/71851036" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
  {% endif %}

</head>

<body>
  <div id="topBar" class="align-middle">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-sm-12 col-md-6 my-auto">
            <span id="topName">СНТ Строитель</span><br>
            <span id="topSubName">Москва, пос. Воскресенское</span>
        </div>
        <div class="col-sm-12 col-md-6 text-right my-auto">
          <div class="btn-group" role="group" aria-label="Аутентификация">
          {% if not user.is_authenticated %}
              <a class="btn btn-primary authButton" href="{% url 'login' %}">Вход</a>
              <a class="btn btn-primary authButton" href="{% url 'register' %}">Регистрация</a>
          {% else %}
            <span class="btn btn-outline-secondary authButton">Участок&nbsp{{ user.username }}</span>
            <a class="btn btn-primary authButton" href="{% url 'logout' %}">Выйти</a>
          {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>
  <nav id="mainNavbar" class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item mr-5{% if page == 'news' %} active{% endif %}">
            <a class="nav-link text-uppercase" href="{% url 'news_list' %}">
              Новости
            </a>
          </li>
          <li class="nav-item mr-5{% if page == 'guide' %} active{% endif %}">
            <a class="nav-link text-uppercase" href="{% url 'guide_list' %}">
              Гид по СНТ
            </a>
          </li>
          <li class="nav-item mr-5{% if page == 'documents' %} active{% endif %}">
            <a class="nav-link text-uppercase" href="{% url 'docs_list' %}">
              Документы
            </a>
          </li>
          <li class="nav-item mr-5{% if page == 'initiatives' %} active{% endif %}">
            <a class="nav-link text-uppercase" href="{% url 'initiatives_list' %}">
              Инициативы
            </a>
          </li>
          <li class="nav-item{% if page == 'contacts' %} active{% endif %}">
            <a class="nav-link text-uppercase" href="{% url 'contacts' %}">
              Контакты
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    {% block content %}{% endblock content %}
  </div>
  <!--Main layout-->
  <footer class="footer mt-auto py-3 bg-black">
    <div class="container gray">
      2021
    </div>
  </footer>
</body>

<!-- SCRIPTS -->
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

</html>
