{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2>Садовое некоммерческое товарищество "Строитель"</h2>
  <p class="mb-5">Государственный АКТ МО-21-2 № 050-217 решение от 03.03.1993г. № 454 администрации Ленинского района</p>

  <table class="table mb-5">
    <tr><td colspan="2">Москва, поселение Воскресенское</td></tr>
    <tr><td>ОГРН</td><td>1035000901451</td></tr>
    <tr><td>ИНН</td><td>5003012236</td></tr>
    <tr><td>КПП</td><td>775101001</td></tr>
  </table>

  <div class="row border-bottom border-2">
    <div class="col-md-4 mt-2 mb-2"><h6>Петренко Юлия Анатольевна</h6></div>
    <div class="col-md-4 mt-2 mb-2">Председатель правления</div>
    <div class="col-md-4 mt-2 mb-2">+7-962-956-24-74</div>
  </div>
  <div class="row border-bottom border-2">
    <div class="col-md-4 mt-2 mb-2"><h6>Кокора Сергей Александрович</h6></div>
    <div class="col-md-4 mt-2 mb-2">Секретарь правления / коммунальные платежи</div>
    <div class="col-md-4 mt-2 mb-2">+7-926-567-59-71</div>
  </div>
  <div class="row border-bottom border-2">
    <div class="col-md-4 mt-2 mb-2"><h6>Кондаков Сергей Иванович</h6></div>
    <div class="col-md-4 mt-2 mb-2">Электрик</div>
    <div class="col-md-4 mt-2 mb-2">+7-903-783-75-59</div>
  </div>
  <div class="row border-bottom border-2">
    <div class="col-md-4 mt-2 mb-2"><h6>Казаков Роман Михайлович</h6></div>
    <div class="col-md-4 mt-2 mb-2">Ответственный по питьевой и поливочной воде</div>
    <div class="col-md-4 mt-2 mb-2">+7-963-635-76-13</div>
  </div>

  <div class="mb-5 mt-5" style="height: 400px">
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7ede8f555f6df01da5dd01640b891dc6ef1ee027097f95d08b66c7c52d1bfa7d&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>

{% endblock content %}
