{% extends 'base.html' %}
{% load static %}

{% block content %}
      <div class="row">
        <div class="col-md-5 col-lg-3">
          <h6 class="text-left text-secondary">2020 май 17</h6>
          <h5 class="font-weight-bolder">Вступил в силу закон об изъятии земель в Новой Москве и области</h5>
        </div>
        <div class="col">
          <p>Закон об изъятии земель вступает в силу 19 апреля 2013 года. Эксперты называют его беспрецедентным и противоречащим нормам Гражданского и Жилищного кодексов. Риэлторы не могут понять, как можно собрать документы так быстро, как это предписывает закон, а юристы не могут разобраться, как же будет происходить процесс компенсации.</p>
          <p><a href="#">Подробнее...</a></p>
        </div>
      </div>
{% endblock content %}
