{% extends "base.html" %}

{% block content %}
  <div class="mt-3 col-xs-8 col-sm-8 col-md-6 col-lg-6 col-xl-4 coffset-xs-2 offset-sm-2 offset-md-3 offset-lg-3 offset-xl-4">
  <div class="card">
  <div class="card-body">

    <div class="text-center mb-4"><h4>Вход</h4></div>

    <form method="POST" class="form-group">
      {% csrf_token %}
      <div class="form-group text-center">
        <input
          type="text"
          class="form-control"
          id="username" name="username" aria-describedby="usernameHelp"
          {% if form.username.value %}value="{{ form.username.value }}"{% endif %}
          placeholder="Введите номер участка"
        >
      </div>

      <div class="form-group text-center mt-4">
        <input
          type="password"
          class="form-control"
          id="password" name="password"
          placeholder="Введите пароль"
        >
      </div>

      {% if form.errors %}
        <div class="red text-center">Указаны неверные логин или пароль.</div>
      {% endif %}

      <button type="submit" class="mt-4 btn btn-success w-100"><h5>Войти</h5></button>
    </form>

  </div>
  </div>
  </div>
{% endblock content %}
